#graph-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
} */

.fieldset-container {
    width: 300px;
   
}